extends maplayout

block content
  div(id="map-canvas")

  script.
    function initialize(tweets) {
      console.log(tweets);

      var mapOptions = {
        center: new google.maps.LatLng(41.3, -72.9),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      var minstyle = [
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            { "color": "#4d8080" },
            { "visibility": "off" }
          ]
        },{
          "featureType": "road",
          "elementType": "labels",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "landscape",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "transit",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "poi",
          "stylers": [
            { "visibility": "off" }
          ]
        },{
          "featureType": "administrative",
          "stylers": [
            { "lightness": 10 },
            { "gamma": 1.9 },
            { "visibility": "on" }
          ]
        }
      ];
      map.setOptions({styles: minstyle});



      //- var maxRadius;
      //- for (var newsItem in newsMap){
      //-   maxRadius = (maxRadius > newsMap[newsItem].radius) ? maxRadius : newsMap[newsItem].radius;
      //- }

      //- var rainbow = new Rainbow();
      var infowindow = new google.maps.InfoWindow();
      //- rainbow.setNumberRange(0, maxRadius);

      // Construct the circle for each newsitem
      //- for (var newsItem in newsMap) {
      //-   var hex = '#' + rainbow.colourAt(newsMap[newsItem].radius);
      //-   var circleOptions = {
      //-     strokeColor: hex,
      //-     strokeOpacity: 1,
      //-     strokeWeight: 3,
      //-     fillColor: hex,
      //-     fillOpacity: 0.6*newsMap[newsItem].radius/maxRadius,
      //-     map: map,
      //-     center: newsMap[newsItem].center,
      //-     radius: newsMap[newsItem].radius,
      //-   };
      //-   newsCircle = new google.maps.Circle(circleOptions);
      //-   createMarker(newsMap[newsItem].center, newsMap[newsItem].title, newsMap[newsItem].blurb, '#' + rainbow.colourAt(newsMap[newsItem].radius));
      //- };

      len = tweets.length-1;
      geocoder = new google.maps.Geocoder();
      for (var loc in tweets[len]){
        preprocess(len, loc, geocoder, tweets);
      }
     
      function preprocess(len, loc, geocoder, tweets) 
      {
        geocoder.geocode({'address': tweets[len][loc][0]}, function(results, status){
          if (status==google.maps.GeocoderStatus.OK) {
            processPoint(len, loc, new google.maps.Marker({
            map:map, 
            position: results[0].geometry.location,
            title:'test'}), tweets);
          }
        })
      }

 
      function processPoint(len, loc, marker, tweets)
      {
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(tweets[len][loc][1]['text']);
          infowindow.open(map, marker);
        });
      }

      //- function codeAddress() {
      //-   geocoder.geocode( { 'address': this}, function(results, status) {
      //-     if (status == google.maps.GeocoderStatus.OK) {
      //-       var marker = new google.maps.Marker({
      //-           map: map,
      //-           position: results[0].geometry.location,
      //-       });
      //-     }
      //-   }
      //- });

      function createMarker(newsCenter, newsTitle, newsBlurb, pinColor){
        var pinImage = new google.maps.MarkerImage(
            new google.maps.Size(0,0),
            new google.maps.Point(0,0),
            new google.maps.Point(0,0));
        var marker = new google.maps.Marker({
          position: newsMap[newsItem].center,
          map: map,
          title: newsTitle,
          icon: pinImage,
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(newsBlurb);
          infowindow.open(map,marker);
        });
        google.maps.event.addListener(newsCircle, 'click', function() {
          infowindow.setContent(newsBlurb);
          infowindow.open(map,marker);
        });
      }

    }
    var json = !{json}
    google.maps.event.addDomListener(window, 'load', initialize(json));
