extends layout

block content
  div(id="home")
    script(type="text/javascript" src="//assets.pinterest.com/js/pinit.js")
    img(id="logo", src="/images/logo.png")
    p If you don't know, now you know.

    if message
      p= message
      
    form(action='/display',method='POST',id='displayForm')
      input(type="text",name="keywords",rows=1,size=60,placeholder="What are you looking for?")

    a(href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="above")
      img(src="//assets.pinterest.com/images/pidgets/pin_it_button.png")