doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWGG2_Oo0-UVkBwFgi7zb9WVm7Q_5mhMk&sensor=true")
      script(src="/javascripts/initmaps.js")
  body
    block content